/**************************
***************************
*      GENERAL STYLE      *
***************************
**************************/

html,
body {
	margin: 0;
	color: #333333;
	font-family: 'Source Sans Pro';
}

a,
a:hover {
	text-decoration: none;
}

h2.title {
	font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

h2.title:after {
	background: linear-gradient(to right, #ffffff 0%, #fbc11f 50%, #ffffff 100%);
    font-family: inherit;
    content: '';
    margin: 0 auto;
    display: block;
    height: 2px;
    width: 180px;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.bold {
	font-weight: 700;
}

.light {
	font-weight: 300;
	color: #6a6a6a;
}

.yellow-bg {
	background: #fbc11f;
}

.yellow-bg h2.title:after {
	background: linear-gradient(to right, #fbc11f 0%, #fff 50%, #fbc11f 100%);
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.cover-img {
  object-fit: cover;
  width: 100%;
}


/**************************
***************************
*        MAIN PARTS       *
***************************
**************************/

#main-header {
	background: #000;
	height: 135px;
	border-bottom: 7px solid #fbc11f!important;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 3px;
	position: fixed;
	width: 100%;
	z-index: 999;
}

#main-content {
	padding-top: 135px;
}

#header-carousel {
	height: 500px;
	padding: 0;
}

#header-carousel img {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

#header-carousel .carousel-item {
	height: 500px;
}

#main-footer {
	background: #000;
	height: 230px;
	border-top: 7px solid #fbc11f!important;
	padding: 20px 0;
}

#main-footer h2.title {
	color: #fbc11f;
}

#main-footer h2.title:after {
	background: linear-gradient(to right, #000 0%, #fbc11f 50%, #000 100%);
}

#machinery .col,
#machinery .col img {
	height: 300px;
}

#machinery .row {
	margin: 25px 0;
}

#pricelist .pricelist-wrapper .row {
	margin: 10px 0;
}


/**************************
***************************
*          MENU           *
***************************
**************************/

.menu > ul {
	list-style: none;
    margin: 0;
    padding: 0;
}

.menu > ul > li {
	margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
}

.menu.horizontal > ul > li {
	float: left;
}

#main-menu {
	padding-top: 75px;
	float: right;
    position: relative;
    z-index: 200;
    overflow: hidden;
}

#main-menu > ul > li {
	padding-right: 45px;
}

#main-menu > ul > li > a {
	border-top: 3px solid transparent;
    height: 50px;
    line-height: 50px;
    color: #fbc11f;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1px;
    display: block;
}

#main-menu > ul > li > a:hover {
	border-top: 3px solid #fbc11f;
}

/**************************
***************************
*        SECTIONS         *
***************************
**************************/

.section {
	padding: 50px 0;
}


/**************************
***************************
*         CLASSES         *
***************************
**************************/

.phone {
	position: fixed;
    top: 15px;
    color: white;
    z-index: 99999;
    right: 46px;
    font-size: 36px;
    font-weight: 600;
}

.phone .fa {
	border: 3px solid #fbc11f;
    border-radius: 50%;
    padding: 5px 11px;
    color: #fbc11f;
    font-size: 30px;
    margin-right: 15px;
}

.phone a {
	color: white;
}

.phone a:hover {
	color: #fbc11f;
}

.service-icon,
.service-icon-wrapper {
    width: 200px;
    margin: 0 auto;
}

.service-icon {
	height: 130px;
}

p.icon-text {
	text-transform: uppercase;
	text-align: center;
	margin: 20px 0 0;
	padding: 0;
	font-weight: 600;
}

.service-icon-wrapper:hover p.icon-text {
	color: #fbc11f !important;
}

.vykopove {
	background: url(../img/sluzby.png) 0 0 repeat-y;
    background-position: 0 0;
}

.service-icon-wrapper:hover .vykopove {
	background-position: 0 -130px;
}

.uprava {
	background: url(../img/sluzby.png) 0 0 repeat-y;
    background-position: -200px 0;
}

.service-icon-wrapper:hover .uprava {
	background-position: -200px -130px;
}

.rucne {
	background: url(../img/sluzby.png) 0 0 repeat-y;
    background-position: -400px 0;
}

.service-icon-wrapper:hover .rucne {
	background-position: -400px -130px;
}

.demolacne {
	background: url(../img/sluzby.png) 0 0 repeat-y;
    background-position: -600px 0;
}

.service-icon-wrapper:hover .demolacne {
	background-position: -600px -130px;
}

.dovoz {
	background: url(../img/sluzby.png) 0 0 repeat-y;
    background-position: -800px 0;
}

.service-icon-wrapper:hover .dovoz {
	background-position: -800px -130px;
}

.odvoz {
	background: url(../img/sluzby.png) 0 0 repeat-y;
    background-position: -1000px 0;
}

.service-icon-wrapper:hover .odvoz {
	background-position: -1000px -130px;
}

.text-carousel .carousel-item {
	padding: 60px 216px;
}