html,
body {
	margin: 0;
	color: #333333;
	font-family: 'Source Sans Pro';
}

a {
	text-decoration: none;
}

.container {
	width: 90%;
	margin: 0 auto;
}

#main-header {
	background: #000;
	height: 135px;
	border-bottom: 7px solid #fbc11f!important;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 3px;
}

#main-footer {
	background: #000;
	height: 230px;
	border-top: 7px solid #fbc11f!important;
}

h2.title {
	font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0px;
}

h2.title:after {
	background: linear-gradient(to right, #ffffff 0%, #fbc11f 50%, #ffffff 100%);
    font-family: inherit;
    content: '';
    margin: 0 auto;
    display: block;
    height: 2px;
    width: 180px;
}


/**************************
***************************
*          MENU           *
***************************
**************************/

.menu > ul {
	list-style: none;
    margin: 0;
    padding: 0;
}

.menu > ul > li {
	margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
}

.menu.horizontal > ul > li {
	float: left;
}

#main-menu {
	padding-top: 75px;
	float: right;
    position: relative;
    z-index: 200;
    overflow: hidden;
}

#main-menu > ul > li {
	padding-right: 45px;
}

#main-menu > ul > li > a {
	border-top: 3px solid transparent;
    height: 50px;
    line-height: 50px;
    color: #fbc11f;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -1px;
    display: block;
}

#main-menu > ul > li > a:hover {
	border-top: 3px solid #fbc11f;
}

/**************************
***************************
*         CLASSES         *
***************************
**************************/

.phone {
	position: fixed;
    top: 15px;
    color: white;
    z-index: 99999;
    right: 46px;
    font-size: 36px;
    font-weight: 600;
}

.phone .fa {
	border: 3px solid #fbc11f;
    border-radius: 50%;
    padding: 5px 11px;
    color: #fbc11f;
    font-size: 30px;
    margin-right: 15px;
}

.phone a {
	color: white;
}

.phone a:hover {
	color: #fbc11f;
}